// TEXT COLOR
$text-color-dark: #000;
$text-color-gray: #777;
$text-color-light: #fff;

// BACKGROUND COLOR
$bg-color-dark: #000;
$bg-color-gray: #777;
$bg-color-light: #fff;

// GAP
$vertial-gap: 1rem;
$horizontal-gap: 1rem;
