// TEXT COLOR
$text-color-dark: #000;
$text-color-gray: #777;
$text-color-light: #fff;

// BACKGROUND COLOR
$bg-color-dark: #000;
$bg-color-gray: #777;
$bg-color-light: #fff;

// DIMENSION ,MARGIN AND PADDING
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT SIZE
$default-font-size: 1.6rem;
